.lof-language-filter {
  @extend .row;
  width: 100%;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin-bottom: $space-8;

  &__icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__icon-container {
    width: 1.7rem;
    height: 1.7rem;
    border: 1px solid $primary;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    margin: $space-05;

    &:hover {
      cursor: pointer;
      background-color: $secondary;
    }

    &--all {
      color: $font-color;

      &:hover {
        color: $white;
      }
    }

    &--active {
      cursor: pointer;
      color: $white;
      background-color: $secondary;
    }
  }

  &__icon {
    @extend .lof-icon;
  }
}
