/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
*/


@mixin phone-sm {
  @media (max-width: #{map-get($grid-breakpoints, "sm") - 1px}) {
    @content;
  }
}

@mixin phone-lg {
  @media (min-width: #{map-get($grid-breakpoints, "sm")}) and (max-width: #{map-get($grid-breakpoints, "md") - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{map-get($grid-breakpoints, "md")}) and (max-width: #{map-get($grid-breakpoints, "lg") - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{map-get($grid-breakpoints, "lg")}) and (max-width: #{map-get($grid-breakpoints, "xl") - 1px}) {
    @content;
  }
}

@mixin desktop-lg {
  @media (min-width: #{map-get($grid-breakpoints, "xl")}) {
    @content;
  }
}
