.lof-modal {
  &__tab {
    position: fixed;
    z-index: 1035;
    top: 253px;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    background-color: $primary;
    color: $white;
    cursor: pointer;
    transition: width 0.1s ease-in-out;

    &-icon {
      width: 1.2rem;
      height: 1.2rem;
      filter: brightness(100);
    }

    &:hover {
      width: 60px;
    }
  }

  &__container {
    width: 100%;
    height: inherit;
    max-height: 75%;
    position: relative;
    display: flex;
    justify-content: center;

    &__card {
      max-width: 800px;
      max-height: 100%;
      display: flex;
      align-self: center;
    }
  }
}
