.lof-page {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin-top: auto;
  margin-bottom: auto;

  &__headline {
    flex: 0 0 auto;
    text-align: center;

    &--terms-title {
      width: 90%;
      display: flex;
      align-self: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 auto;
    margin-bottom: 3rem;
  }
}
