$upper-canvas-width-phone-sm: 286px;
$upper-canvas-height-phone-sm: 220px;
$upper-canvas-width-phone-lg: 456px;
$upper-canvas-height-phone-lg: 350px;
$upper-canvas-width-tablet: 652px;
$upper-canvas-height-tablet: 500px;
$upper-canvas-width-desktop: 716px;
$upper-canvas-height-desktop: 550px;


$lower-canvas-width-phone-sm: 286px;
$lower-canvas-height-phone-sm: 206px;
$lower-canvas-width-phone-lg: 456px;
$lower-canvas-height-phone-lg: 328px;
$lower-canvas-width-tablet: 652px;
$lower-canvas-height-tablet: 470px;
$lower-canvas-width-desktop: 716px;
$lower-canvas-height-desktop: 516px;

$upper-canvas-width: $upper-canvas-width-tablet;
$upper-canvas-height: $upper-canvas-height-tablet;
$lower-canvas-width: $lower-canvas-width-tablet;
$lower-canvas-height: $lower-canvas-height-tablet;

// Vue Swatches Overrides
.vue-swatches__check__circle {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.lof-teeth-canvas {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__info-legend {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: $space-8;

    &__title {
      color: $primary;
      margin-bottom: $space-8;
      align-self: center;
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
      font-size: 13px;
      width: 100%;
      justify-content: space-between;
    }

    &__item {
      display: flex;
      align-items: flex-start;
      width: 22%;
      padding-top: 4px;
      padding-bottom: 4px;
      word-break: break-word;

      @include tablet {
        width: 30%;
      }

      @include phone-lg {
        width: 30%;
      }

      @include phone-sm-xs {
        width: 50%;
      }
    }

    &__color {
      width: 18px;
      height: 18px;
      min-width: 18px;
      min-height: 18px;
      border-radius: 100%;

      &--b { background-color: #72FBFD }
      &--t { background-color: #909090 }
      &--tl { background-color: #EB3423 }
      &--tlh { background-color: #74FBB7 }
      &--tr { background-color: #FDEB4E }
      &--trh { background-color: #54C2F8 }
      &--ex { background-color: #75FA4F }
      &--x { background-color: #A12CF6 }
      &--ba { background-color: #000000 }
      &--p { background-color: #EA37C4 }
    }

    &__divider {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  &__border {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $space-4;
    position: relative;
    background-color: $white;
    border-radius: 1.2rem;
    box-shadow: 0 0 17px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 0 17px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 17px -8px rgba(0, 0, 0, 0.75);
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__container {
    position: relative;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-self: center;

    &--upper,
    &-image--upper,
    &-canvas--upper {
      width: $upper-canvas-width;
      height: $upper-canvas-height;
    }

    &--lower,
    &-image--lower,
    &-canvas--lower {
      width: $lower-canvas-width;
      height: $lower-canvas-height;
    }

    &-canvas {
      position: absolute;
    }

    &-image {
      &__numbers {
        &-number {
          position: absolute;
          font-size: 16px;
          line-height: 0;

          &--18 {bottom: 52px; left: 16px;}
          &--17 {bottom: 136px; left: 34px;}
          &--16 {bottom: 228px; left: 56px;}
          &--15 {top: 208px; left: 90px;}
          &--14 {top: 148px; left: 116px;}
          &--13 {top: 84px; left: 154px;}
          &--12 {top: 48px; left: 208px;}
          &--11 {top: 20px; left: 280px;}
          &--21 {top: 20px; right: 280px;}
          &--22 {top: 48px; right: 208px;}
          &--23 {top: 84px; right: 154px;}
          &--24 {top: 148px; right: 116px;}
          &--25 {top: 208px; right: 90px;}
          &--26 {bottom: 228px; right: 56px;}
          &--27 {bottom: 136px; right: 34px;}
          &--28 {bottom: 52px; right: 16px;}

          &--48 {top: 38px; left: 16px;}
          &--47 {top: 130px; left: 34px;}
          &--46 {top: 226px; left: 56px;}
          &--45 {bottom: 166px; left: 100px;}
          &--44 {bottom: 110px; left: 128px;}
          &--43 {bottom: 54px; left: 184px;}
          &--42 {bottom: 30px; left: 230px;}
          &--41 {bottom: 18px; left: 292px;}
          &--31 {bottom: 18px; right: 292px;}
          &--32 {bottom: 30px; right: 230px;}
          &--33 {bottom: 54px; right: 184px;}
          &--34 {bottom: 110px; right: 128px;}
          &--35 {bottom: 166px; right: 100px;}
          &--36 {top: 226px; right: 56px;}
          &--37 {top: 130px; right: 34px;}
          &--38 {top: 38px; right: 16px;}

          @media (max-width: 767px) {
            font-size: 12px;

            &--18 {bottom: 36px; left: 12px;}
            &--17 {bottom: 96px; left: 24px;}
            &--16 {bottom: 158px; left: 42px;}
            &--15 {top: 142px; left: 64px;}
            &--14 {top: 104px; left: 80px;}
            &--13 {top: 58px; left: 108px;}
            &--12 {top: 34px; left: 144px;}
            &--11 {top: 16px; left: 194px;}
            &--21 {top: 16px; right: 194px;}
            &--22 {top: 34px; right: 144px;}
            &--23 {top: 58px; right: 108px;}
            &--24 {top: 104px; right: 80px;}
            &--25 {top: 142px; right: 64px;}
            &--26 {bottom: 158px; right: 42px;}
            &--27 {bottom: 96px; right: 24px;}
            &--28 {bottom: 36px; right: 12px;}

            &--48 {top: 28px; left: 10px;}
            &--47 {top: 94px; left: 24px;}
            &--46 {top: 158px; left: 42px;}
            &--45 {bottom: 114px; left: 68px;}
            &--44 {bottom: 72px; left: 90px;}
            &--43 {bottom: 38px; left: 126px;}
            &--42 {bottom: 20px; left: 162px;}
            &--41 {bottom: 12px; left: 202px;}
            &--31 {bottom: 12px; right: 202px;}
            &--32 {bottom: 20px; right: 162px;}
            &--33 {bottom: 38px; right: 126px;}
            &--34 {bottom: 72px; right: 90px;}
            &--35 {bottom: 114px; right: 68px;}
            &--36 {top: 158px; right: 42px;}
            &--37 {top: 94px; right: 24px;}
            &--38 {top: 28px; right: 10px;}
          }

          @media (max-width: 575px) {
            font-size: 10px;

            &--18 {bottom: 24px; left: 8px;}
            &--17 {bottom: 62px; left: 16px;}
            &--16 {bottom: 98px; left: 26px;}
            &--15 {top: 90px; left: 38px;}
            &--14 {top: 64px; left: 50px;}
            &--13 {top: 36px; left: 66px;}
            &--12 {top: 20px; left: 88px;}
            &--11 {top: 8px; left: 122px;}
            &--21 {top: 8px; right: 122px;}
            &--22 {top: 20px; right: 88px;}
            &--23 {top: 36px; right: 66px;}
            &--24 {top: 64px; right: 50px;}
            &--25 {top: 90px; right: 38px;}
            &--26 {bottom: 98px; right: 26px;}
            &--27 {bottom: 62px; right: 16px;}
            &--28 {bottom: 24px; right: 8px;}

            &--48 {top: 16px; left: 10px;}
            &--47 {top: 58px; left: 16px;}
            &--46 {top: 98px; left: 26px;}
            &--45 {bottom: 74px; left: 40px;}
            &--44 {bottom: 48px; left: 56px;}
            &--43 {bottom: 24px; left: 76px;}
            &--42 {bottom: 12px; left: 102px;}
            &--41 {bottom: 6px; left: 126px;}
            &--31 {bottom: 6px; right: 126px;}
            &--32 {bottom: 12px; right: 102px;}
            &--33 {bottom: 24px; right: 76px;}
            &--34 {bottom: 48px; right: 56px;}
            &--35 {bottom: 74px; right: 40px;}
            &--36 {top: 98px; right: 26px;}
            &--37 {top: 58px; right: 16px;}
            &--38 {top: 16px; right: 6px;}
          }
        }
      }
    }
  }

  &__tooth {
    fill: #fff;

    &-outline {
      stroke: #1d1d1b;
      stroke-width:0.92px;
    }

    &-texture {
      stroke: #b1b1b1;
      stroke-linecap: round;
      stroke-width: 0.61px;
    }

    &-outline, &-texture {
      fill: none;
      stroke-miterlimit: 10;
    }
  }

  &__toolbar {
    display: flex;
    margin-top: $space-4;

    &-canvas-mode {
      margin-right: $space-4;
      margin-bottom: 0;
    }
  }

  &__button {
    height: 100%;

    &-icon {
      width: 1.4rem;
      height: 1.4rem;

      &--pen {
        width: 5rem;
        height: 5rem;
        filter: brightness(100);
        margin: $space-1 $space-4;
      }

      &--active {
        filter: brightness(100);
      }
    }

    &--pen {
      height: auto;
    }

    &-color {
      width: 1.4rem;
      height: 1.4rem;
      border-radius: 100%;
      box-shadow: inset 0 0 2px rgb(0 0 0 / 75%);

      &-ok {
        height: 24px;
        padding: 2px 10px !important;
        display: flex !important;
        align-items: center;
        background-color: $primary !important;
      }
    }

    &:hover &-icon {
      filter: brightness(100);
    }
  }

  &__container--upper,
  &__container-image--upper,
  &__container-canvas--upper {
    @include phone-sm() {
      width: $upper-canvas-width-phone-sm;
      height: $upper-canvas-height-phone-sm;
    }

    @include phone-lg() {
      width: $upper-canvas-width-phone-lg;
      height: $upper-canvas-height-phone-lg;
    }

    @include tablet() {
      width: $upper-canvas-width-tablet;
      height: $upper-canvas-height-tablet;
    }

    @include desktop() {
      width: $upper-canvas-width-tablet;
      height: $upper-canvas-height-tablet;
    }

    @include desktop-lg() {
      width: $upper-canvas-width-desktop;
      height: $upper-canvas-height-desktop;
    }
  }

  &__container--lower,
  &__container-image--lower,
  &__container-canvas--lower {
    @include phone-sm() {
      width: $lower-canvas-width-phone-sm;
      height: $lower-canvas-height-phone-sm;
    }

    @include phone-lg() {
      width: $lower-canvas-width-phone-lg;
      height: $lower-canvas-height-phone-lg;
    }

    @include tablet() {
      width: $lower-canvas-width-tablet;
      height: $lower-canvas-height-tablet;
    }

    @include desktop() {
      width: $lower-canvas-width-tablet;
      height: $lower-canvas-height-tablet;
    }

    @include desktop-lg() {
      width: $lower-canvas-width-desktop;
      height: $lower-canvas-height-desktop;
    }
  }
}
