// Project Variables and Bootstrap Overwrite Variables

$primary:     #654EA3;
$secondary:   #4E4E4D;
$tertiary:    #DFDBEC;
$font-color:  $secondary;

$white:       #FFFFFF;
$grey:        #909090;
$light-grey:  #DBDBDB;

// Bootstrap button radius variable
$btn-border-radius: 6px;


// Spacing/Vertical-Rhythm
// -------------------------
$space-05:    0.25rem;
$space-1:     0.5rem;
$space-2:     0.75rem;
$space-3:     0.875rem;
$space-4:     1rem;
$space-5:     1.125rem;
$space-6:     1.25rem;
$space-7:     1.5rem;
$space-8:     2rem;
$space-9:     3rem;
$space-10:    4.5rem;
$space-11:    6rem;


// Bootstrap navbar variables
$navbar-light-color: $font-color;
$navbar-light-hover-color: $font-color;
