.lof-button {
  width: 100%;
  max-width: 270px;
  min-width: fit-content;
  text-transform: uppercase;
  text-decoration: none;

  &:disabled {
    opacity: 1;
    background-color: $secondary;
    cursor: not-allowed;
  }

  &:hover {
    text-decoration: none;
  }
}
