.lof-button {
  width: 100%;
  max-width: 270px;
  min-width: fit-content;
  text-transform: uppercase;
  text-decoration: none;

  @include phone-sm {
    width: 100% !important;
    margin: 0 !important;
    margin-bottom: $space-2 !important;
  }

  &:disabled {
    opacity: 1;
    border-color: $light-grey;
    background-color: $light-grey;
    cursor: not-allowed;
  }

  &:hover {
    text-decoration: none;
  }
}
